.user_wrapper {
    width: 100vw;
    
    height: auto;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;

}



.user_container {
    padding-top: 5%;
    background-color: none;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 30vh;
    width: 80%;
    text-align: center;
    margin-bottom: 10%;
    box-shadow: 3px 10px 10px 5px #888888;
    
    
}

/* button {
background-color: rgb(255, 75, 43);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  
  display: inline-block;
  font-size: 16px;
} */

img {
    border-radius: 50%;
    
}

